canvas {
	background: black;
	max-height: 100%;
	max-width: 100%;
}

p {
	margin-bottom: 0.2em;
}

.container {
	padding: 1em;
}

.canvas.container {
	height: 40vh;
	width: 50%;
}

.buttons{
	display: flex;
	justify-content: space-between;
}

.buttons > .button {
	flex: 1;
	margin-left: 1em;
	text-align: center;
}

.animation-form.container {
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	background: #555;
}

.animation-form.container > *.container {
	flex: 0.75;
}

.animation-form.container > .canvas.container {
	text-align: center;
	flex: 1;
}

.ui.button {
	 background-color: #1b1a20;
	 border: solid 1px #939393;
	 border-radius: 0;
	 color: #dad2d9;
	 padding: 11px;
	 margin-top: 7px;
}

.ui.button:hover {
	background-color: #2b2a30;
	cursor: pointer;
}

.ui.button.active {
	background-color: #5b5a90;
}

.animation-state.container {
	font-size: 0.8em;
}

.animation-state.container .button {
	display: inline-block;
	margin: 0 auto;
}

.tips {
	font-size: 0.8em;
}

.frame-form.container .ui.input {
	width: 3em;
	display: inline-block;
}

.frame-form.container .ui.button {
	font-size: 0.8em;
}

.frame-form.container .ui.label-input,
.frame-form.container .ui.header{
	display: inline-block;
	margin-right: 1em;
}

.ui.frame-duration {
	display: flex;
}

.ui.frame-duration > div:nth-child(1) {
	flex: 1
}

.ui.frame-duration > .ui.label-input {
	margin-right: 0;
}

.frame-form.container .ui.input-slider {
	display: flex;
}

.frame-form.container .ui.input-slider input {
	flex: 0.25;
}

.frame-form.container .ui.input-slider input[type=range] {
	flex: 1;
}

.frame-data-form .ui {
	margin-top: 0.6em;
}

#crud-form > div {
	display: inline-block;
	margin: 0 1em 0 0;
}

#crud-form .ui.header, 
#crud-form .ui.label-input,
#crud-form input {
	width: 100%;
}