canvas {
	background: black;
	height: 50vh;
	width: 50vh;
}

.container {
	padding: 1em;
}

.animation-form.container {
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	background: #555;
}

.animation-form.container > *.container {
	flex: 0.75;
}

.animation-form.container > .canvas.container {
	text-align: center;
	flex: 1;
}

 .ui.button {
	 background-color: #1b1a20;
	 border: solid 1px #939393;
	 border-radius: 0;
	 color: #dad2d9;
	 padding: 11px;
	 margin-top: 7px;
}

.ui.button:hover {
	background-color: #2b2a30;
	cursor: pointer;
}

.ui.button.active {
	background-color: #5b5a90;
}

.animation-state.container {
	font-size: 0.8em;
}

.animation-state.container .button {
	display: inline-block;
	margin: 0 auto;
}

.tips {
	font-size: 0.8em;
}