html, body {
	padding: 0;
	margin: 0;
	background: black;
	color: white;
}

.navbar, .footer {
	background: #333;
}

.navbar > ul, .footer > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	line-height: 3em;
	font-size: 0.8em;
}

.footer > ul {
	font-size: 0.7em;
	line-height: 2em;
}

.navbar > ul > li, .footer > ul > li {
	float: right;	
}

.navbar > ul > li:first-child {
	float: left;
	background-color: #a23;
}

li > a {
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 1em;
}

.navbar > ul > li:hover, .footer > ul > li:hover {
	background: #222;	
}