<script>
	window.user = {{USER}}
</script>

<div class="navbar">
	<a href="/">Keeperscape</a>
  
	<a href="/logout">Logout</a>
	<a href="/dashboard">Dashboard</a>
	<div class="subnav">
		<button class="subnavbtn">Tools <i class="fa fa-caret-down"></i></button>
		<div class="subnav-content">
			<a href="/incarnation" style="margin-right: 7em;">Sprite Creator</a>
		</div>
	</div>
	
	<div class="subnav">
		<button class="subnavbtn">Games</button>
		<div class="subnav-content">
			<a href="/tech-sandbox" style="margin-right: 7em;">Tech Sandbox</a>
		</div>
  </div>
</div>